@model IEnumerable<Compras.Models.Entities.AsientoContable>

@{
    ViewData["Title"] = "Asientos Contables";
}

<style>
    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }
</style>

<h1>@ViewData["Title"]</h1>

<form asp-action="Contabilizar" method="post">
    <div class="form-group">
        <label for="fechaInicio">Fecha Inicio</label>
        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required />
    </div>
    <div class="form-group">
        <label for="fechaFin">Fecha Fin</label>
        <input type="date" class="form-control" id="fechaFin" name="fechaFin" required />
    </div>
    <button type="submit" class="btn btn-primary">Contabilizar</button>
</form>

@if (TempData["Resultado"] != null)
{
    <div class="alert alert-info">
        @TempData["Resultado"]
    </div>
}

<p>
    <button id="refreshButton" class="btn btn-secondary">Actualizar</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().IdAuxiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cuenta_DB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cuenta_CR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAuxiliar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuenta_DB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuenta_CR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('refreshButton').addEventListener('click', function () {
            window.location.href = '@Url.Action("Index", "AsientosContables")';
        });
    </script>
}